@import "../../styles/variables.scss";

.contact__info {
  margin-top: 92px;
  width: 1230px;
  height: 444px;
  display: flex;
  justify-content: space-between;

  h6 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray900;
  }

  h1 {
    font-weight: 900;
    margin-top: 8px;
    color: $gray900;
  }

  .info__all {
    .info__email {
      margin-top: 40px;
    }

    .info__address,
    .info__number {
      margin-top: 24px;
    }

    .info__email,
    .info__address,
    .info__number {
      display: flex;

      p {
        padding-left: 13px;
      }
    }

    span {
      padding-left: 36px;
    }

    .follow {
      p {
        margin-top: 48px;
      }

      ul {
        padding-top: 24px;
        gap: 32px;
        display: flex;
        list-style-type: none;
        li {
          img {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .container {
    width: 705px;
    height: 412px;
  }
}

.contact__form {
  height: 614px;
  width: 1245px;
  margin-top: 168px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form__data {
    .input__data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 58px;
      margin-top: 40px;

      input {
        margin-top: 8px;
        border-radius: 4px;
        background: $white;
        border: 1px solid $gray400;
        width: 340px;
        height: 52px;
        padding-left: 16px;
      }
    }

    .input__message {
      margin-top: 24px;

      p {
        padding-bottom: 8px;
      }

      input {
        width: 738px;
        height: 128px;
        border-radius: 4px;
        background: $white;
        border: 1px solid $gray400;

        &::placeholder {
          position: absolute;
          top: 13px;
          left: 16px;
        }
      }
    }

    .input__footer {
      display: flex;
      margin-top: 48px;
      justify-content: space-between;

      position: relative;

      input {
        position: absolute;
        top: 1px;
      }

      p {
        width: 287px;
        height: 52px;
        font-size: 16px;
        font-weight: 400;
        padding-left: 15px;
      }
      button {
        margin-left: 50px;
        width: 340px;
        background: $btn-gradient;
        color: $white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
