<div class="footer">
  <div class="footer__wrapper">
    <div class="footer__logo">
      <img src="/assets/images/logo1.png" alt="logo" />
      <p>
        Createx Online School is a leader in online studying. We have lots
        of courses and programs from the main market experts. We provide
        relevant approaches to online learning, internships and employment
        in the largest companies in the country.
      </p>
      <ul>
        <img src="/assets/images/Facebook.png" alt="Facebook" />
        <img src="/assets/images/Twitter.png" alt="Twitter" />
        <img src="/assets/images/YouTube.png" alt="YouTube" />
        <img src="/assets/images/telegram.png" alt="telegram" />
        <img src="/assets/images/Instagram.png" alt="Instagram" />
        <img src="/assets/images/Linked-In.png" alt="Linked-In" />
      </ul>
    </div>
    <div class="footer__sitemap">
      <h6>SITE MAP</h6>
      <ul>
        <li>About Us</li>
        <li>Courses</li>
        <li>Events</li>
        <li>Blog</li>
        <li>Contacts</li>
      </ul>
    </div>
    <div class="footer__sitemap">
      <h6>COURSES</h6>
      <ul>
        <li>Marketing</li>
        <li>Management</li>
        <li>HR & Recruting</li>
        <li>Design</li>
        <li>Development</li>
      </ul>
    </div>
    <div class="footer__sitemap">
      <h6>CONTACT US</h6>
      <ul>
        <div>
          <img src="/assets/images/iPhone.png" alt="number" />
          <span>(405) 555-0128</span>
        </div>
        <div>
          <img src="/assets/images/Mail.png" alt="number" />
          <span>hello@createx.com</span>
        </div>
      </ul>
    </div>
    <div class="footer__input">
      <h6>SIGN UP TO OUR NEWSLETTER</h6>
      <input type="text" placeholder="Email address" />
      <img src="/assets/images/Right.png" alt="" />
      <p>
        *Subscribe to our newsletter to receive communications and early updates
        from Createx SEO Agency.
      </p>
    </div>
  </div>
</div>
<div class="footer__down">
  <p>
    © All rights reserved. Made with
    <img src="/assets/images/Heart.svg" alt="Heart" /> by Createx Studio
  </p>
  <span>GO TO TOP</span>
</div>
