.modal_register {
  position: fixed;
  opacity: 0.8;
  background-color: #989696;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.register {
  position: absolute;
  top: 213px;
  bottom: 214px;
  right: 717px;
  left: 717px;
}
