<div class="subscribe">
  <div class="subscribe__wrapper">
    <img src="assets/images/illustration1.png" alt="" />
    <div class="subscribe__wrapper__title">
      <h2>
        Want to get the best articles weekly? Subscribe to our newsletter!
      </h2>
      <div class="subscribe__wrapper__title__form">
        <input type="text" placeholder="Your working email" />
        <button>Subscribe</button>
      </div>
      <div class="subscribe__wrapper__title__checkbox">
        <input type="checkbox" checked />
        <p>I agree to receive communications from Createx Online School</p>
      </div>
    </div>
  </div>
</div>
