<div class="sidebar">
  <div class="sidebar__input">
    <input type="text" placeholder="Search blog..." />
    <i class="fas fa-search"></i>
  </div>
  <div class="sidebar__author">
    <h6>Author</h6>
    <div class="sidebar__author__profile">
      <img src="/assets/images/avatar.png" alt="Avatar" />
      <div>
        <h3>Kristin Watson</h3>
        <span>Curator of Marketing Course</span>
        <mat-list>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="sidebar__articles">
    <h6>Trending Articles</h6>
    <div class="sidebar__articles__post">
      <img src="assets/images/i1.png" alt="" />
      <div class="sidebar__articles__post__info">
        <div class="calendar">
          <mat-icon fontSet="material-icons-outlined" class="calendar_today"
            >calendar_today</mat-icon
          >
          <span>September 4, 2020</span>
        </div>
        <p>What is traffic arbitrage and does it really make money?</p>
      </div>
    </div>
    <div class="sidebar__articles__post">
      <img src="assets/images/i1.png" alt="" />
      <div class="sidebar__articles__post__info">
        <div class="calendar">
          <mat-icon fontSet="material-icons-outlined" class="calendar_today"
            >calendar_today</mat-icon
          >
          <span>July 15, 2020</span>
        </div>
        <p>Startup: how to build a team that will live longer than a year</p>
      </div>
    </div>
    <div class="sidebar__articles__post">
      <img src="assets/images/i1.png" alt="" />
      <div class="sidebar__articles__post__info">
        <div class="calendar">
          <mat-icon fontSet="material-icons-outlined" class="calendar_today"
            >calendar_today</mat-icon
          >
          <span>July 28, 2020</span>
        </div>
        <p>What to do if you want to get feedback on the product</p>
      </div>
    </div>
  </div>
  <div class="sidebar__tags">
    <h6>Tags</h6>
    <ul class="sidebar__tags__tag">
      <li>#marketing</li>
      <li>#recruiting</li>
      <li>#coding</li>
      <li>#learning</li>
      <li>#HR</li>
      <li>#self-development</li>
    </ul>
  </div>
</div>
