<div class="chart">
  <div class="delivered">
    <canvas id="first"> </canvas>
  </div>
  <div class="chart_return">
    <canvas id="second"> </canvas>
  </div>
  <div class="chart_new">
    <canvas id="there"> </canvas>
  </div>
  <div class="chart_orders">
    <canvas id="four"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="five"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="six"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="seven"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="eight"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="nine"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="ten"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="eleven"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="twelve"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="thirteen"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="fourteen"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="fifteen"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="sixteen"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="seventeen"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="eighteen"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="nineteen"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="twenty"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="twenty_one"> </canvas>
  </div>
  <div class="chart_all">
    <canvas id="all"> </canvas>
  </div>
</div>
